

</body>

<footer>
  <div class="footer">
    <p style="font-size:15px">Copyrights.Ayaz idrisi @2021.<br>Visit Website.<br><a href="https://idrisiayaz.github.io/Ayaz-idrisi" style="color:black">idrisiayaz.github.io</a></p>
  </div>
</footer>

</html>

